<% content_for :title, "Posts" %>
<h1>Posts</h1>

<div id="posts" class="d-flex flex-column gap-3">
  <% @posts.each do |post| %>
    <%= render 'post_summary', post: %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
